.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  padding-top: 20px;

  &_line{
    display: block;
    width: 50%;
    height: 2px;
    background: #535285;
    margin: 0 auto;
    border-radius: 10px;
  }
  &__content{
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    nav{
      ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        li{
          margin: 10px;
          a{
            color: #a5a5bd;
            font-size: 18px;
            font-family: monospace;
            font-weight: 500;
            transition: all 0.3s ease;
            &:hover{
              color: #6C83FF;
            }
          }
        }
      }
    }
  }
}