@media(max-width: 600px) {
  .hamburger {
    position: relative;
    z-index: 999;
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 30px;
    top: 20px;
    left: 0;
    transition: 0.5s all;

    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #ffffff;
      margin-bottom: 6px;
      transition: 0.3s all;
    }

    &_active {
      top: 50px;
      left: 155px;
      opacity: 1;

      span {
        margin-bottom: -4px;

        &:nth-child(1) {
          width: 35px;
          transform: translateY(3px) rotate(-45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          width: 35px;
          transform: translateY(3px) rotate(45deg);
        }

      }

    }
  }


  .header {
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    height: 100%;
    top: -100%;
    padding: 0;
    background: #1C1C28;
    transition: 0.35s !important;

    .header__items_active {
      justify-content: center;
      flex-direction: column;
      margin-top: 50px;
    }

    nav {
      position: relative;
      display: flex;
      padding: 0;

      ul {
        flex-direction: column;

      }
    }

  }

  .header__active {
    top: 0;
  }

}

@media(max-width: 950px){
  .promo{
    &__content{
      max-width: 90%;
    }
    h1{
      font-size: 5vw;
    }
    p{
      font-size: 2vw;
    }
  }
}

@media(max-width: 650px){
  .promo{
    h1{
      font-size: 6vw;
    }
    p{
      font-size: 3vw;
    }
  }
}