@mixin button-style($bg-color, $hover-bg-color, $padding-vertical: 10px, $padding-horizontal: 20px, $font-size: 16px, $font-weight: normal) {
    display: inline-block;
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    font-family: monospace;
    font-weight: $font-weight;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: $bg-color;
    color: aliceblue;

    &:hover {
        background-color: $hover-bg-color;
        color: #fff;
    }

    &:visited {
        color: #fff;
    }
}

.log-in {
    &_btn {
        @include button-style(#2F3443, #535285);
    }
}

.sign-up {
    &_btn {
        @include button-style(#535285, #6C83FF);
    }
}

.promo-btn {
    @include button-style(#535285, #6C83FF, 15px, 20px, 18px, 400);
    &:hover {
        transform: scale(1.05);
    }
}