@mixin font-style($family, $weight, $style) {
  font-family: $family;
  font-weight: $weight;
  font-style: $style;
}

.space-mono {
  &-regular {
    @include font-style("Space Mono", 400, normal);
  }

  &-bold {
    @include font-style("Space Mono", 700, normal);
  }

  &-regular-italic {
    @include font-style("Space Mono", 400, italic);
  }

  &-bold-italic {
    @include font-style("Space Mono", 700, italic);
  }
}

.ubuntu {
  &-light {
    @include font-style("Ubuntu", 300, normal);
  }

  &-regular {
    @include font-style("Ubuntu", 400, normal);
  }

  &-medium {
    @include font-style("Ubuntu", 500, normal);
  }

  &-bold {
    @include font-style("Ubuntu", 700, normal);
  }

  &-light-italic {
    @include font-style("Ubuntu", 300, italic);
  }

  &-regular-italic {
    @include font-style("Ubuntu", 400, italic);
  }

  &-medium-italic {
    @include font-style("Ubuntu", 500, italic);
  }

  &-bold-italic {
    @include font-style("Ubuntu", 700, italic);
  }
}