
.container{
    max-width: 1250px;
    margin: 0 auto;
}
body{
    margin: 0;
    background: rgb(210,211,213);
    background: linear-gradient(91deg, rgb(219, 219, 219) 0%, rgb(201, 201, 201) 50%, rgb(219, 219, 219) 100%);
    
}

*{
    font-family: 'Comfortaa', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}
