.container{
    max-width: 85%;
    margin: 0 auto;
}
body{
    margin: 0;
    background: #181B25;
}

*{
    font-family: 'Comfortaa', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

@import 'base/start';