
.hamburger{
  display: none;
}

@media(max-width: 520px){
  .hamburger{
    position: relative;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 40px;
    width: 30px;
    top: 20px;
    left: 0;
    transition: 0.5s all;

    span{
      display: block;
      height: 2px;
      width: 100%;
      background-color: #ffffff;
      margin-bottom: 6px;
      transition: 0.3s all;
    }

    &_active{
      top: 50px;
      left: 155px;
      opacity: 1;

      span{
        margin-bottom: -4px;
        &:nth-child(1){
          width:35px;
          transform: translateY(3px) rotate(-45deg);
        }
        &:nth-child(2){
          display: none;
        }
        &:nth-child(3){
          width: 35px;
          transform: translateY(3px) rotate(45deg);
        }

      }

    }
  }


.header{
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  height: 100%;
  top: -100%;
  padding: 0;
  background: #1C1C28;
  transition: 0.35s!important;
  .header__items_active{
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
  }
   nav{
     position: relative;
     display: flex;
     padding: 0;
     ul{
       flex-direction: column;

     }
   }

}

.header__active{
  top: 0;

}


} // end of media query
