.promo{
    color: #F2F2F2;
    padding: 20px 0;
    text-align: center;
    h1{
        font-size: 4vw;
        margin-bottom: 20px;
        font-family: monospace;
        font-weight: 700;
    }
    p{
        font-size: 1.5vw;
        margin-bottom: 20px;
        color: #C8C7D8;
        font-family: monospace;
    }
    &__content{
        max-width: 73%;
    }
}